.container{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
}
.grid-size{
    height: 1000px;
    width: 1000px;
}
.grid-bg{
    background-color: aqua;
}
